@model l9l.Data.ViewModels.CartItemViewModel

@using (Html.BeginForm())
{
    @Html.HiddenFor(c => c.ProductId)
    <div class="container row">
        <table class="table-borderless col-md-12 col-lg-12 col-sm-12">
            <tbody>
                <tr>
                    <td>
                        <img src="@Model.Image"
                             style="width:50px; height:50px" />
                    </td>
                    <td>
                        @Model.Name
                    </td>
                    <td>
                        @Html.EditorFor(c => c.Count,
                        new { @class = "edc" })
                    </td>
                    <td>
                        <input type="submit" class="btn btn-primary" />
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
}