@{
    Layout = "_layout";
}

<div class="container">
    <div class="row" style="direction:rtl">
        <div class="col-lg-4"
             style="background-color:blue;align-content:center">
            <img src="~/Content/Design/TShirts/Asphalt.png"
                 style="width:300px; height:320px;" />
            <div style="text-align:center; direction:ltr">
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star"></span>
                <span class="fa fa-star"></span>
                <span>3.0/5.0</span>
            </div>
        </div>
        <div class="col-lg-8" style="background-color:red">
            kkkkk
        </div>
        <div class="col-lg-12" style="background-color:orange">
            <div class="col-lg-12">
                <textarea class="col-lg-12" style="min-height:130px"></textarea>
                <input type="submit" class="btn btn-primary" value="Post" />
            </div>
            <table class="table" style="margin-top:10px">
                <tr>
                    <td>
                        <table class="table-borderless col-lg-12" style="direction:ltr">
                            <tr>
                                <td>
                                    <img src="~/Content/Design/TShirts/Asphalt.png"
                                         style="width:25px;height:25px;
                                        border-radius: 50%;" />
                                    Ahmad Kandil
                                    @DateTime.Now.ToString()
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    this product is perfect kl;mlknl
                                    ;lknms;klanklnl n klskanlkbn ;asnlkb
                                    ;lnsalkn m sa;klknljbxlnm l;asnlkbxkm kasnxljbasxnlkjbpk
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td>
                        <table class="table-borderless col-lg-12" style="direction:ltr">
                            <tr>
                                <td>
                                    <img src="~/Content/Design/TShirts/Asphalt.png"
                                         style="width:25px;height:25px;
                                        border-radius: 50%;" />
                                    Ahmad Kandil
                                    @DateTime.Now.ToString()
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    this product is perfect kl;mlknl
                                    ;lknms;klanklnl n klskanlkbn ;asnlkb
                                    ;lnsalkn m sa;klknljbxlnm l;asnlkbxkm kasnxljbasxnlkjbpk
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>

